.battle-arena {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  h2 {
    color: #333;
    margin-bottom: 20px;
  }

  .character-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
    margin-bottom: 20px;

    button {
      padding: 10px;
      border: 2px solid transparent;
      border-radius: 5px;
      background-color: #f8f8f8;
      cursor: pointer;
      transition: background-color 0.3s, border-color 0.3s;

      &:hover,
      &.selected {
        background-color: #4caf50; // Green background for active/hover states
        color: white;
        border-color: #367c39; // Darker green border for better visibility
      }

      &:disabled {
        // background-color: #ccc;
        // cursor: not-allowed;
        display: none;
      }
    }
  }

  button.battle-button {
    padding: 10px 20px;
    font-size: 1.1em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3;
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
}

// Responsive Design
@media (max-width: 600px) {
  .battle-arena {
    .character-list {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
  }
}
