/* src/styles/characterGallery.scss */
.character-gallery {
  padding: 20px;
  background-color: #1a1a1a;
  color: #fff;
  min-height: 100vh;

  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    color: #e62429;
    text-shadow: 2px 2px #000;
  }

  .search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    input {
      padding: 10px;
      width: 300px;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin-right: 10px;
      font-size: 16px;
    }

    button {
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: #e62429;
      color: white;
      cursor: pointer;
      font-size: 16px;

      &:hover {
        background-color: #bf1e20;
      }
    }
  }

  .character-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .character-card {
      background-color: #2c2c2c;
      border: 1px solid #333;
      border-radius: 10px;
      margin: 10px;
      padding: 10px;
      width: 150px;
      text-align: center;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.05);
      }

      img {
        width: 100%;
        border-radius: 5px;
      }

      p {
        margin-top: 10px;
        font-size: 16px;
        color: #e62429;
        text-shadow: 1px 1px #000;
      }

      a {
        color: #e62429;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        text-shadow: 1px 1px #000;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }

  .load-more {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .load-more-button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color: #e62429;
      color: white;
      cursor: pointer;
      font-size: 16px;

      &:hover {
        background-color: #bf1e20;
      }
    }
  }
}
