.icon-cyclop-marvel, 
.icon-storm-marvel, 
.icon-black-panther-mask, 
.icon-spiderman-head, 
.icon-captain-america, 
.icon-groot, 
.icon-deadpool, 
.icon-avengers, 
.icon-venom-head, 
.icon-human-torch, 
.icon-thanos, 
.icon-s-h-i-e-l-d, 
.icon-spiderman-old, 
.icon-logan-x-men, 
.icon-x-men, 
.icon-magneto, 
.icon-mystique, 
.icon-beast, 
.icon-hawkeye, 
.icon-jean-grey, 
.icon-luke-cage, 
.icon-fantastic-four, 
.icon-black-widow, 
.icon-rogue
 {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: -0.1em;
}

.icon-cyclop-marvel>svg, 
.icon-storm-marvel>svg, 
.icon-black-panther-mask>svg, 
.icon-spiderman-head>svg, 
.icon-captain-america>svg, 
.icon-groot>svg, 
.icon-deadpool>svg, 
.icon-avengers>svg, 
.icon-venom-head>svg, 
.icon-human-torch>svg, 
.icon-thanos>svg, 
.icon-s-h-i-e-l-d>svg, 
.icon-spiderman-old>svg, 
.icon-logan-x-men>svg, 
.icon-x-men>svg, 
.icon-magneto>svg, 
.icon-mystique>svg, 
.icon-beast>svg, 
.icon-hawkeye>svg, 
.icon-jean-grey>svg, 
.icon-luke-cage>svg, 
.icon-fantastic-four>svg, 
.icon-black-widow>svg, 
.icon-rogue>svg
 {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    vertical-align: -0.1em;
}

