$primary-color: #e62429;
$button-color: #c51c22;
$secondary-color: #1a1a1a;
$text-color: #fff;
$background-color: #20232a;
$secondary-bg-color: #333;
$border-radius: 5px;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
$border: 1px solid #ccc;
$content-bg: #2c2c2c;
