@import "./variables";
@import "./mixins";

.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 3em 2em;
  background: $secondary-color;
  color: $text-color;
  border-radius: 10px;
  box-shadow: $box-shadow;

  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: $primary-color;
  }

  p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  h2 {
    margin-top: 20px;
    color: $primary-color;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 10px;
      font-size: 1.1em;

      strong {
        color: $primary-color;
      }
    }
  }
}
.about-image {
  display: block;
  margin: 0 auto;
}
