@import "./variables";
@import "./mixins";

.character-details {
  padding: 3em 2em;
  background-color: $secondary-color;
  color: $text-color;
  min-height: 100vh;
  text-align: center;

  h2 {
    text-align: center;
    font-size: 36px;
    color: $primary-color;
    text-shadow: 2px 2px #000;
  }

  .tabs {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

    button {
      background-color: $secondary-bg-color;
      color: $text-color;
      border: none;
      padding: 10px 20px;
      margin: 0 5px;
      cursor: pointer;
      font-size: 16px;
      border-radius: $border-radius;

      &:hover {
        background-color: #444;
      }

      &.active {
        background-color: $primary-color;
        color: $text-color;
      }
    }
  }

  .tab-content {
    padding: 20px;
    background-color: $content-bg;
    border-radius: 10px;
    text-align: left;

    ul {
      list-style-type: none;
      padding: 0;

      li {
        margin: 10px 0;
        font-size: 18px;
        color: $text-color;
      }
    }
  }

  .character-thumbnail {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    img {
      border-radius: 10px;
      max-width: 100%;
      height: auto;
    }
  }

  .character-description {
    margin: 20px 0;
    font-size: 18px;
    color: $text-color;
    text-align: center;
  }

  .character-urls {
    margin: 20px 0;
    font-size: 18px;
    text-align: center;

    a {
      color: $primary-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
