@import "./variables";
@import "./mixins";

.user-profile {
  padding: 20px;

  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: $text-color;
  }

  ul {
    list-style: none;
    padding: 0;

    .hero-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      margin: 10px 0;
      background-color: $secondary-bg-color;
      color: $text-color;
      border-radius: $border-radius;

      svg {
        width: 40px;
        height: 40px;
      }

      button {
        @include button-style($primary-color, $button-color);
        padding: 5px 10px;
        border-radius: 3px;
      }
    }
  }
}
